## Mission to Mars

In [2]:
# Import dependencies
import pandas as pd
import requests
from bs4 import BeautifulSoup
from splinter import Browser

In [3]:
# Choose the executable path to driver 
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

### NASA Mars News

Scrape the NASA Mars News Site and collect the latest News Title and Paragraph Text. Assign the text to variables that you can reference later.

In [4]:
# Open desired site in browser with splinter
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [5]:
# HTML Object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [6]:
# Retrieve the latest element that contains news title and news_paragraph
results = soup.find('li', class_="slide")

news_title = results.find('div', class_='content_title').text
news_p = results.find('div', class_='article_teaser_body').text
news_date = results.find('div', class_='list_date').text

# Extract first title and paragraph, and assign to variables
#news_title = title_results[0].text
#news_p = p_results[0].text


print(f'Article date: {news_date}')
print(f'Title: {news_title}')
print(f'Abstract: {news_p}')

Article date: February  8, 2021
Title: Tricky Terrain: Helping to Assure a Safe Rover Landing
Abstract: How two new technologies will help Perseverance, NASA’s most sophisticated rover yet, touch down onto the surface of Mars this month.

In [7]:
# class content_title has a prior title for the nav bar. IS there a better way to write this in?
# like a for loop through the body..?
# Sometimes get error and have to run two times due to .text file not always found

### JPL Mars Space Images - Featured Image

In [8]:
# Visit the url for JPL Featured Space Image.
#Use splinter to navigate the site and find the image url for the current Featured Mars Image 
image_url = 'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html#'
browser.visit(image_url)

In [9]:
# HTML Object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [10]:
# Locate image with splinter
image_tag = soup.find('img', class_='headerimage')
image_location = image_tag.get('src')

# Combine base url with uri
featured_image_url = f'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/{image_location}'
# Show address in full
featured_image_url

'https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/image/featured/mars2.jpg'

### Mars Facts

In [11]:
# Use Pandas to scrape data
mars_facts_url = 'https://space-facts.com/mars/'
# Take first table for Mars facts
mars_facts_df = pd.read_html(mars_facts_url)[0]
# Print sample of df 
print(mars_facts_df)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
# Clean column names
mars_facts_df.columns=["Description", "Value"]
# Can make  Description the index
#mars_facts_df.set_index("Description", inplace=True)

# Show df
mars_facts_df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
# Convert table to html
mars_table_html = mars_facts_df.to_html(index=True, header=True, border=0, justify="left")
mars_table_html.replace("\n","")
print(mars_table_html)

<table border="0" class="dataframe">
  <thead>
    <tr style="text-align: left;">
      <th></th>
      <th>Description</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons:</td>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres

In [14]:
# Visit Mars hemispheres website
usgs_astrogeology_mars_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

#Use splinter to navigate the site and find the image url for the current Featured Mars Image 
browser.visit(usgs_astrogeology_mars_url)

In [15]:
# HTML Object
html = browser.html
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

In [ ]:
# Click each of the links to the hemispheres in order to find the image url to the full resolution image

# Save both the image url string for the full resolution hemisphere image, and the Hemisphere title containing
# the hemisphere name. Use a Python dictionary to store the data using the keys img_url and title.

#Append the dictionary with the image url string and the hemisphere title to a list. 
#This list will contain one dictionary for each hemisphere

In [ ]:
browser.quit()

 # Loop through returned results

results = soup.find_all('li', class_="result-row")

for result in results:
    # Error handling
    try:
        # Identify and return title of listing
        title = result.find('a', class_="result-title").text
        # Identify and return price of listing
        price = result.a.span.text
        # Identify and return link to listing
        link = result.a['href']

        # Print results only if title, price, and link are available
        if (title and price and link):
            print('-------------')
            print(title)
            print(price)
            print(link)
    except AttributeError as e:
        print(e)